[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ansible-lint = "*"
flake8 = "*"
yamllint = "*"

[packages]
ansible = "*"
boto = "*"
boto3 = "*"
botocore = "*"
openshift = "*"
docker = "*"
awscli = "*"
packaging = "*"
xmltodict = "*"
uamqp = "*"
requests = {extras = ["security"], version = "*"}
psycopg2 = "*"
resolvelib = "==0.8.1"

[requires]
python_version = "3.8"
